include ../share/share


mixin new(news)
	+b.new(style='background-image: url(#{news.bc})')
		+e('a').categories(href='javascript:void(0)') #{news.categories}
		+share()
		+e.wrapper
			+e.group-info
				+e('a').type(href='javascript:void(0)') #{news.type}
				+e('span').data #{news.data}
			+e('h2').name #{news.name}
			+e('p').description #{news.description}
			+e('a').read-more(href='javascript:void(0)') read more
		
		